# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ImportError: cannot import name 'g_key' from 'api_keys' (C:\Users\tayly\Desktop\Data Boot Camp\python-api-challenge\starter_code\api_keys.py)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
clean_weather_data = pd.read_csv('../Output/clean_weather_data.csv')

,City,Latitude,Temperature (F),Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,romny,50.7510,16.57,16.57,74,95,4.85
1,ponta delgada,37.7333,19.40,19.40,72,20,3.60
2,machico,32.7000,21.48,22.78,91,75,2.06
3,albany,42.6001,20.50,22.11,90,100,1.34
4,camopi,3.1655,21.63,21.63,99,52,1.06
...,...,...,...,...,...,...,...
521,te anau,-45.4167,2.55,2.55,98,95,2.08
522,ontario,34.0633,21.88,30.21,58,1,4.12
523,namtsy,62.7161,24.06,24.06,23,1,6.74
524,lagoa,39.0500,20.57,20.57,65,91,4.36
525,nogliki,51.8333,14.59,14.59,76,100,5.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure